body {
    margin: 0;
}

h1 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, #search-container select {
    margin: 1em;
    min-width: 250px;
}

#days-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#weather-container {
    margin-top: 1em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    width: 100%;
}

td {
    text-align: center;
}

.hot {
    color: red;
}

.cold {
    color: blue;
}

.day {
    margin: 10px;
}

footer {
    margin-top: 1em;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
}