body {
    margin: 0;
}

h1 {
    text-align: center;
    margin-top: 10px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input,
#search-container select {
    margin: 1em;
    min-width: 250px;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
}

#weather-title {}

#days-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.day {
    margin: 10px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
}

#weather-container {
    margin-top: 1em;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    width: 70%;
}

td {
    text-align: center;
    border-bottom: 1px dashed black;
}

td img {
    aspect-ratio: 4/3;
    max-width: 80px;
}

th {
    padding: 1em;
}

.hot {
    color: red;
}

.cold {
    color: blue;
}

footer {
    margin: 2em 0;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
}
